.card {
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0;
  background-color: red;
  animation-duration: 9.5s;
  animation-delay: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.block-0 .wrap:nth-child(1) .card{
  animation-name: move-block-0-card-1, arise;
}

@keyframes move-block-0-card-1 {
  0% {  
    top: 70px;
    left: 42px;
  }
  100% {
    top: 30px;
    left: 82px;
  }
}

.block-0 .wrap:nth-child(2) .card{
  animation-name: move-block-0-card-2, arise;
}

@keyframes move-block-0-card-2 {
  0% {  
    top: 154px;
    left: 54px;
  }
  100% {
    top: 162px;
    left: 2px;
  }
}
.block-0 .wrap:nth-child(3) .card {
  animation-name: move-block-0-card-3, arise;
}

@keyframes move-block-0-card-3 {
  0% {  
    top: 263px;
    left: 88px;
  }
  100% {
    top: 322px;
    left: 109px;
  }
}
.block-1 .wrap:nth-child(1) .card {
  animation-name: move-block-1-card-1, arise;
}
@keyframes move-block-1-card-1 {
  0% {  
    top: 30px;
    left: 30px;
  }
  100% {
    top: 1px;
    left: 85px;
  }
}
.block-1 .wrap:nth-child(2) .card {
  animation-name: move-block-1-card-2, arise;
}
@keyframes move-block-1-card-2 {
  0% {  
    top: 102px;
    left: 113px;
  }
  100% {
    top: 123px;
    left: 55px;
  }
}
.block-1 .wrap:nth-child(3) .card {
  animation-name: move-block-1-card-3, arise;
}
@keyframes move-block-1-card-3 {
  0% {  
    top: 274px;
    left: 81px;
  }
  100% {
    top: 333px;
    left: 106px;
  }
}
.block-2 .wrap:nth-child(1) .card {
  animation-name: move-block-2-card-1, arise;
}
@keyframes move-block-2-card-1 {
  0% {  
    top: 2px;
    left: 56px;
  }
  100% {
    top: 54px;
    left: 95px;
  }
}
.block-2 .wrap:nth-child(2) .card {
  animation-name: move-block-2-card-2, arise;
}
@keyframes move-block-2-card-2 {
  0% {  
    top: 214px;
    left: 33px;
  }
  100% {
    top: 176px;
    left: 86px;
  }
}
.block-2 .wrap:nth-child(3) .card {
  animation-name: move-block-2-card-3, arise;
}
@keyframes move-block-2-card-3 {
  0% {  
    top: 281px;
    left: 69px;
  }
  100% {
    top: 250px;
    left: 112px;
  }
}
.block-3 .wrap:nth-child(1) .card {
  animation-name: move-block-3-card-1, arise;
}
@keyframes move-block-3-card-1 {
  0% {  
    top: 30px;
    left: 24px;
  }
  100% {
    top: 77px;
    left: 2px;
  }
}
.block-3 .wrap:nth-child(2) .card {
  animation-name: move-block-3-card-2, arise;
}
@keyframes move-block-3-card-2 {
  0% {  
    top: 165px;
    left: 137px;
  }
  100% {
    top: 132px;
    left: 103px;
  }
}
.block-3 .wrap:nth-child(3) .card {
  animation-name: move-block-3-card-3, arise;
}
@keyframes move-block-3-card-3 {
  0% {  
    top: 266px;
    left: 2px;
  }
  100% {
    top: 241px;
    left: 24px;
  }
}
@keyframes arise {
  0%{
    opacity: 0;
  }
  15%,85%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
